/** GENERAL STYLING **/    
    #reservation{
        background-color: #BFB398;
        padding: 25px;
        min-height: 100vh;
        min-width: 100vw; 
    }

    /** PAGE HEADER **/
        .page-circle{
            width: 40px;
            height: 40px;
            border-radius: 250px;
            font-size: 18px;
            color: #000;
            line-height: 40px;
            text-align: center;
            margin: 0 30px 0 0;
            background: #F5F5F5;
            border: 1px solid #1570BF;
            float: left;
        }
        .container{
            width: 85vw;
            background-color: rgb(255, 255, 255);
            margin: 0 auto;
            border-radius: 15px 15px 15px 15px;   
            padding: 20px;
        }
        .page-steps{
            width: inherit;
            background-color: #F2C572;
            margin: 0 auto;
            border-radius: 15px 15px 0px 0px;   
            padding: 15px;
            border-bottom: none;
            transform: translate(-20px, -20px);
            float: left;
        }
        h1.page_steps{
            float: left;
            margin-top:10px;
        }
    /** PAGE HEADER **/

    /** FONTS  **/
        /* Needed when font is removed form google font database */
        @font-face {
            font-family: "Roboto";
            src: url("../fonts/Roboto/Roboto-Regular.ttf") format("ttf"),
        }
        @font-face {
            font-family: "Roboto_bold";
            src: url("../fonts/Roboto/Roboto-Bold.ttf") format("ttf"),
        }
        @font-face {
            font-family: "Titillium Web";
            src: url("../fonts/TitilliumWeb/TitilliumWeb-Regular.ttf") format("ttf"),
        }
        @font-face {
            font-family: "Titillium bold";
            src: url("../fonts/TitilliumWeb/TitilliumWeb-Bold.ttf") format("ttf"),
        }
        /* Needed when font is removed form google font database */
        h1{
            font-family: 'Titillium Web', sans-serif;
            color: white;
            margin-top: 2px;
            margin-bottom: -5px;
        }
        p, b, .summeryStyling{
            font-family: 'Roboto', sans-serif;
            font-size: 16px;
        }
        .summeryStyling{
            margin-top: -24px;
            margin-left: 25px;
            width: 300px;
            padding: 10px;
        }
    /** FONTS **/

    /** Navigation OVERRIDES **/
        .navbar-brand>img{
            width: 200px;
            margin-top: -23px;
        }
        .navbar-default{
            background-color: #18588E;
            margin: -2px;;
        }
        .navbar-default .navbar-nav>li>a{
            color: #fff;
            font-family: 'Roboto', sans-serif;
        }
        .navbar-default .navbar-nav>li>a:hover {
            color: #fff;
        }

        .navbar-nav>li{
            color: #fff;
            font-family: 'Roboto', sans-serif;
        }

        @media (max-width: 768px) {
            .navbar-nav>li>a.nav-vert-line{
                display: none;

            }    
        }
    /** Navigation **/

    /** BUTTONS **/
        .btn-primary, .btn-primary:hover, .btn-primary:active, .btn-primary:focus,.btn-primary:active:focus, .active{
            background-color: #076EC3;
            border-color: #076EC3;
            float: right;
        }
        /* .room_block.btn-primary:active{
            background-color: #F2C572;
            height: 226px;
        } */
        .btn>u {
            font-size: 12px;
        }
        .btn.btn-light {
            float: left;   
        }
        .btn.btn-link{
            float: right;
            color: black;
            text-decoration: underline;
        }
    /** BUTTONS **/
/** GENERAL STYLING **/   



/** STEP 1  **/
    /** DATEPICKER **/
    #first-row{
        margin: 15px;
        padding: 20px;
        background-color: rgb(247, 247, 247);
        border: 1px solid rgb(230, 230, 230);
        border-radius: 20px;
        float: left;
        width: 95%;
        text-align: center;
    }
    #ui-datepicker-div{
        top:250px !important;
    }
    .has-feedback label~.form-control-feedback{
        right: 33px;
        border-left: 1px solid #E3E2E2;
    }
    input.picker, input.picker_night{
        font-family: Roboto;
        outline: none;
        border-radius: 8px;
        border: 1px solid #E3E2E2;
        padding:3px 0 1px 10px;
    }
    input.picker{
        width: 89%;
    }
    input.picker_night{
        width: 35%;
        height: 34px;
        text-align: center;
        box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
        transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    }
    /** DATEPICKER  **/
    .has-feedback .form-control{
        padding-right: 0!important;
    }
    .form-control{
        display: inline-block;
    }


/** STEP 1  **/


/* STEP 2 */

    /* IMAGES */
        #room_tumbnail {
            width: 90%;
        }
    /* IMAGES */

    /* CHOOSE ROOM */
        input[type=radio]:checked + label{
            border: 3px solid rgb(14, 87, 182);
        }
        .room_block{
            float: left;
        }
        .room_block, .room_block:hover{
            margin-top: 1%;
            margin-bottom: 1%;
            padding: 2%;
            background-color: rgb(240, 240, 240);
            border-radius: 15px 15px;
        }
        .room_block{
            cursor:pointer;
            border: 3px solid rgb(222, 222, 222);
        }
        .room_block:hover, .room_block:checked{
            border: 3px solid rgb(14, 87, 182);
        }
        /* Hide radio button */
        /* .room_block > input{ 
            opacity: 0%; 
            position: absolute; 
            width: 0;
        } */
    /* CHOOSE ROOM */
/* STEP 2 */


/* STEP 4 */
    .step4{
        border: 1px solid #1570BF;
        border-radius: 15px;
        padding: 10px;
        margin: 15px;
        float: left;
        width: 94%;
    }
/* STEP 4 */


/* STEP 5 */
    .step5_content{
        text-align: center;
        float: left;
        width: 100%;
        margin: 15px;
    }
/* STEP 5 */